@charset "UTF-8";
$font-size:16px;
html{
    font-size: $font-size;
}
@function pxtorem($px){
    @return $px / $font-size * 1rem
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

//header部分
.header{
    width: 100%;
    height: pxtorem(200px);
    border: 1px solid;
    box-sizing: border-box;
    overflow: hidden;
   
    background: url(img/1.jpg) center no-repeat;
    background-size: cover; 
}
.header input{
    position: fixed;
    width: 60%;
    border-radius: 20px;
    background: url(img/logoJD.png) 6% center no-repeat,
    url(img/search.png) 16% no-repeat;
    background-color: white;
     background-size: 4%;
     padding-left: 22%;
}


.header button{
    float: right;
    margin-top:pxtorem(0px) ;
    background: no-repeat;
    outline: none;
    font-size: 12px;
    color: white;
    padding: pxtorem(2px) pxtorem(10px);
    border-radius: 10px;
    border: 1px solid lightgrey;
}

//banner部分

.banner{
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
    overflow: hidden;
}
.banner img{
    width: 100%;
}

//section部分

.section{
    width: 100%;
    border: 1px solid;
    margin: pxtorem(10px) auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section figure{
    width: 18%;
    text-align: center;
    margin-top:pxtorem(10px);
}
.section img{
    width: 50%;
}
.section figcaption{
   font-size: 12px;
}

//new_people部分

.new_people{
    width: 100%;
    border: 1px solid;
}
.new_people img{
    width: 100%;
    
}

//more部分

.more{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.more p{
    font-size: 12px;
}

//jingdong部分

.jingdong{
    width: 100%;
    border: 1px solid;
}

.jingdong p:nth-of-type(1){
    font-style: italic;
    font-weight: 600;
    color: red;
}
.jingdong span:nth-of-type(1){
    font-style: italic;
    font-weight: 600;
    color: black;
}
.jingdong span:nth-of-type(2){
    font-style: normal;
    font-size: 10px;
    color: black;
}
.jingdong p:nth-of-type(2){
    font-size: 10px;
    color: red;
    margin-top: pxtorem(-15px);
    margin-left: pxtorem(300px);
}


.jingdong1{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    
}
.jingdong1 figure{
    width: 32%;
    text-align: center;
}
.jingdong1 img{
    width: 100%;
}

.jingdong1 figcaption{
    font-size: 12px;
    color: red;
}
.jingdong1 figcaption del{
    font-size: 12px;
    color: black;
}

//life部分
.life{
    width: 100%;
    border: 1px solid;
}
.life img{
    width: 100%;
}

//img部分
.img{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img figure{
    width: 49%;
}
.img img{
    width: 100%;
}
.img img:nth-of-type(2){
    width: 100%;
    
}

//find部分
.find{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
}
.find figure{
    width: 30%;
    text-align: center;
}
.find img{
    width: 100%;
}
.find figcaption p{
    font-size: 12px;
    color: gray;
    margin-top: pxtorem(10px);
}

//footer部分

.footer{
    width: 100%;
    border: 1px solid;
    background: #000022;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.footer figure{
    width: 18%;
    text-align: center;
}
.footer img{
    width: 40%;
}
.footer figcaption{
    font-size: 12px;
    color: white;
}

