@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul li{
	list-style: none;
}
body{
	min-width:1348px;
}
/*header部分*/
.header{
	width: 100%;
	height: 80px;
	 
	background: url(../img/201712280439581-2733.png) 6% center no-repeat;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header ul{
	width: 50%;
	 
	margin-left: 20%;
	display: flex;
	justify-content: space-around;
}
.header ul li{
	font-size: 12px;
}
.header p{
	width: 8%;
	 
	display: flex;
	justify-content: space-around;
	font-size: 12px;
	padding: 5px 0;
	border-radius: 20px;
	background: #f5f5f5;
}

.header1{
	display: none;
}


/*banner部分*/

.banner{
	width: 100%;
	 
}
.banner img{
	width: 100%;
}
.banner p{
	width: 1%;
	box-sizing: border-box;
	overflow: hidden;
	color: white;
	font-size: 12px;
	background: #2580e6;
	padding: 10px 15px;
	position: absolute;
	bottom: 508px;
	right: 5px;
	
}

/*section部分*/
.section{
	width: 100%;
	 
	box-sizing: border-box;
	overflow: hidden;
}

.section1{
	width: 100%;
	 
	text-align: center;
	padding: 50px;
}

.section1 p:nth-of-type(1){
	font-size: 30px;
}
.section1 p:nth-of-type(2){
	margin-top: 20px;
}
.section1 span{
	font-weight: 800;
}
.section1 hr{
	margin-left: 48%;
	margin-top: 20px;
}

.section1_1{
	width: 100%;
	 
}
.section1_2{
	width: 60%;
	color: red;
	margin: auto 25%;
	
	display: flex;
	justify-content: space-around;
}
.section1_2 .pp{
	font-size: 25px;
}
.section1_2 p{
	margin-left: 20px;
	font-size: 14px;
}
.section2{
	width: 100%;
	height: 250px;
	border: 1px solid;
	background: url(../img/201712290547431-9762.jpg) center no-repeat;
	background-size: 80%;
}
.section2 h3{
	width: 12%;
	border: 1px solid;
	margin:30px auto;
	border-radius: 20px;
	padding: 10px 20px;
	background: #fb7b57;
	color: white;
}

/*-myself部分*/
.myself{
	width: 100%;
	height: 240px;
	box-sizing: border-box;
	overflow: hidden;
}
.myself img{
	width: 100%;
	height: 340px;
}
.myself1{
	color: white;
	width: 40%;
	 
	text-align: center;
	line-height: 2;
	margin: -20% 30%;
}

.myself1 h2{
	font-size: 30px;
}
.myself1 h2:after{
	content: "——————";
	display: block;
	font-size: 1px;
}
.myself1 dd{
	font-size: 16px;
}


/*more部分*/
.more{
	width: 100%;
}
.more1{
	width: 100%;
}
.more1 h3{
	font-size: 25px;
	text-align: center;
}
.more1 hr{
	margin:10px auto;
}

.more1 p{
	text-align: center;
}

.more2{
	width: 80%;
	 
	box-sizing: border-box;
	overflow: hidden;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.more2 figure{
	width: 26%;
	border: 1px solid lightgray;
	text-align: center;
	padding: 30px;
	margin-top: 20px;
}

.more2 figcaption{
	line-height: 2;
}
.more2 figcaption p:nth-of-type(1){
	color: gray;
}
.more2 figcaption p:nth-of-type(1):after{
	content: "———";
	display: block;
	text-align: center;
}
.more2 figcaption p:nth-of-type(2){
	color: gray;
	font-size: 12px;
}
.more2 figcaption p:nth-of-type(3){
	display: none;
}

/*建站系统部分*/
.active{
	width: 100%;
	background: #f7f7f7;
}
.active1{
	width: 100%;
	text-align: center;
}
.active h3{
	font-size: 25px;
}

.active h3:after{
	content: "—————";
	display: block;
	font-size: 1px;
	color: red;
}


.active1 hr{
	margin:10px auto;
}

.active1 p{
	text-align: center;
}

.active2{
	width: 80%;
	box-sizing: border-box;
	overflow: hidden;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.active2 figure{
	width: 26%;
	border: 1px solid lightgray;
	background: white;
	text-align: center;
	padding: 30px;
	margin-top: 20px;
}

.active2 figcaption{
	line-height: 2;
}

.active2 figcaption p:nth-of-type(2){
	font-size: 12px;
	color: gray;
}
.active2 figcaption p:nth-of-type(3){
	display: none;
}

/*choice部分*/
.choice{
	width: 100%;
	height: 540px;
	background: #6fba2c;
}
.choice img{
	margin: 0 50%;
}
.choice1{
	width: 30%;
	 
	color: white;
	margin: -20% 10%;
}

.choice1 h3{
	font-size: 35px;
	line-height: 2;
}

.choice1 h4{
	font-size: 25px;
	line-height: 2;
}
.choice1 h4:nth-of-type(2):after{
	content: "——————";
	display: block;
	text-align: left;
	font-size: 1px;
}

/*选择响应式部分*/
.xiang{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.xiang1{
	width: 100%;
	 
	text-align: center;
	padding: 40px 0;
}

.xiang1 p{
	font-size: 40px;
}
.xiang1 p:only-of-type:after{
	content: "——————";
	display: block;
	color: red;
	font-size: 1px;
	margin: 10px 0;
}

.xiang2{
	width: 80%;
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.xiang2_left{
	width: 40%;
	font-size: 12px;
}
.xiang2_left1,
.xiang2_left2,
.xiang2_left3,
.xiang2_left4{
	width: 100%;
	border-bottom: 1px solid lightgray;
	text-align: center;
	padding: 25px 0;
}
.xiang2_left1 b{
	padding-left: 20px;
	font-size: 14px;
}

.xiang2_left .xiang2_left3 p{
	width: 25%;
	margin: auto;
	background: lightgray;
}
.xiang2_left .xiang2_left4 p{
	width: 28%;
	margin: auto;
	background: lightgray;
}


.xiang2_midlle{
	width: 18%;
	text-align: center;
	margin-top: 98px;
}
.xiang2_midlle p{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.midlle_1 p,
.midlle_2 p,
.midlle_3 p,
.midlle_4 p{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	font-size: 12px;
	color: white;
	margin: auto;
	background:#ff3700 ;
	margin-bottom: 10px;
}

.midlle_2 span{
	width: 30px;
	text-align: center;
	display: block;
}

.midlle_3 span{
	width: 30px;
	text-align: center;
	display: block;
	color: black;
	background: lightgray;
}

.midlle_4 span{
	width: 30px;
	text-align: center;
	display: block;
	color: black;
	background: lightgray;
}

.xiang2_right{
    width: 40%;
	font-size: 12px;
}
.xiang2_right1,
.xiang2_right2,
.xiang2_right3,
.xiang2_right4{
	width: 100%;
	border-bottom: 1px solid lightgray;
	text-align: center;
	padding: 25px 0;
}
.xiang2_right1 b{
	padding-left: 20px;
	font-size: 14px;
}

.xiang2_right .xiang2_right3 p{
	width: 25%;
	margin: auto;
	background: lightgray;
}
.xiang2_right .xiang2_right4 p{
	width: 54%;
	margin: auto;
	background: lightgray;
}


/*担心部分*/
.worry{
	width: 100%;
	 
	background: #00bae8;
	text-align: center;
	position: relative;
}
.worry p{
	color: white;
	font-size: 30px;
	margin: 40px auto;
	text-align: center;
	line-height: 2;
}
.worry p:after{
	content: "——————";
	display: block;
	font-size: 1px;
}
.worry1{
	width: 50%;
	margin: auto;
	position: relative;
}
.worry1 img:nth-of-type(2){
	width: 16%;
	position: absolute;
	top: 10%;
	left: 10%;
}
.worry1 img:nth-of-type(3){
	width: 12%;
	position: absolute;
	top: -12%;
	left: 58%;
}
.worry1 img:nth-of-type(4){
	width: 12%;
	position: absolute;
	top: -10%;
	left: 28%;
}
.worry1 img:nth-of-type(5){
	width: 12%;
	position: absolute;
	top: 12%;
	left: 70%;
}
.worry1 img:nth-of-type(6){
	width: 16%;
	position: absolute;
	top: 35%;
	left: 40%;
}
.worry2{
	width: 100%;
	text-align: center;
}
.worry2 img{
	width: 100%;
}

.worry1_1{
	font-size: 12px;
}
.worry1_1 b{
	font-size: 16px;
}


.worry1 img{
	width: 100%;
}

/*微加部分*/
.box{
	width: 100%;
}
.box1{
	width: 100%;
	 line-height: 2;
	margin-top: 40px;
	text-align: center;
}

/*.box1 p :nth-of-type(1):after{
	content: "——————";
	display: block;
	color: red;
	font-size: 1px;
}*/

.box1 p:nth-of-type(1){
	font-size: 30px;
}
.box2{
	width: 80%;
	box-sizing: border-box;
	overflow: hidden;
	margin: 10px auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.box2 figure{
	width: 22%;
	text-align: center;
	margin-top: 20px;
}
.box2 figcaption p:nth-of-type(2){
	font-size: 12px;
	margin-top: 10px;
}

/*加盟流程部分*/
.jia{
	width: 100%;
	background: #eefafd;
}

.jia p{
	font-size: 30px;
	padding: 60px 0;
	line-height: 2;
	text-align: center;
}
.jia p:after{
	content: "——————";
	display: block;
	font-size: 1px;
	color: red;
}
.jiaa{
	width: 80%;
	margin:  auto;
	display: flex;
	justify-content: space-between;
}

.jiaa figure{
	width: 15%;
	text-align: center;
}

.jiaa img:nth-of-type(2){
	margin-bottom: 30px;
	margin-left: 20px;
}
.jiaa figcaption{
	width: 100px;
	border: 1px solid;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 0;
	margin: 30px;
}

/*掘金部分*/

.once{
	width: 100%;
	 padding: 40px 0;
	background: linear-gradient(to bottom right,#03c4fd,#2585fe);
	
}
.once1{
	width: 100%;
	 
	margin-top: 40px;
}
.once1 p{
	font-size: 30px;
	color: white;
	text-align: center;
}

.once1 p:after{
	content: "————";
	display: block;
	font-size: 1px;
}

.once2{
	width: 80%;
	 
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}
.once2_1{
	width: 48%;
	 
}

.once2_1 p{
	font-size: 14px;
	color: white;
}

.once2_1_1{
	width: 100%;
	 
	margin-top: 10px;
	background: white;
}
.once2_1_1 img{
	width: 100%;
}

.word{
	width: 90%;
	border-bottom: 1px solid lightgray;
	margin-left: 2%;
	line-height: 2;
	padding: 20px 0;
}
.word p{
	color: black;
	font-size: 12px;
}
.word p:nth-of-type(1) span{
	width: 8%;
	 
	border-radius: 100%;
	color: white;
	padding: 4px;
	background: red;
	margin-right:10px;
}
.word p:nth-of-type(1){
	color: red;
	
}
.word p:nth-of-type(2) span{
	width: 8%;
	border-radius: 100%;
	color: white;
	padding: 3px;
	background: lightgray;
	margin-right:10px;
}

.once3{
	width: 48%;
}

.once3 p{
	font-size: 14px;
	color: white;
}
.once3 input:nth-of-type(1),
.once3 input:nth-of-type(2),
.once3 input:nth-of-type(3){
	width: 95%;
	height: 50px;
	border: 1px solid white;
	/*display: block;*/
	margin-bottom: 10px;
	font-size: 10px;
	background: #0c8fdc;
	padding-left: 10px;
}
.once3 input:nth-of-type(4){
	width: 95%;
	height: 140px;
	border: 1px solid white;
	/*display: block;*/
	margin-bottom: 10px;
	font-size: 10px;
	background: #0c8fdc;
	padding-left: 10px;
}

.once3 input:nth-of-type(5){
    width: 16%;
	height: 40px;
	border: 1px solid white;
/*	display: inline-block;*/
	vertical-align: 18px;
	font-size: 10px;
	background: #0c8fdc;
	margin-bottom: 10px;
	padding-left: 10px;
	
}
 .once3 input:nth-of-type(5)+img{
 	margin-left: -5px;
 }
.once3 input::-webkit-input-placeholder{
	color: white;
}

.once3 button{
	font-size: 10px;
	padding: 10px 50px;
	color: white;
	background: red;
	border-radius: 20px;
	border: none;
	outline: none;
}
/*新闻资讯部分*/
.new{
	width: 100%;
	 
	box-sizing: border-box;
}
.new1 p{
	font-size: 30px;
	text-align: center;
	font-weight: 800px;
	margin-top: 40px;
}
.new1 p:after{
	content: "————";
	display: block;
	color: red;
	font-size: 1px;
}

.new2{
	width: 100%;
	box-sizing: border-box;
	margin: 30px auto;
}
.new2 ul{
	display: flex;
	justify-content: center;
}
.new2 ul li{
	font-size: 12px;
	font-weight: 600;
	padding:10px 30px;
	margin: 0 10px;
	
}
.new2 ul li:nth-of-type(1){
	background: #eeeeee;
}
.new2 ul li:nth-of-type(2),
.new2 ul li:nth-of-type(3){
	border-bottom: 1px solid gray;
}

.new3{
	width: 80%;
	 
	box-sizing: border-box;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.new_left{
	width:32%;
	 
	box-sizing: border-box;
	line-height: 1.5;
}

.new_left img{
	width: 99.9%;
}
.new_left p:nth-of-type(2){
	font-size: 12px;
	color: gray;
}
.new_right{
	width:65%;
	box-sizing: border-box;
}
.div1{
	width: 95%;
	border-bottom: dotted lightgray;
	padding: 20px;
	line-height: 1.5;
}
.div1 span{
	font-size: 12px;
	color: gray;
}
.div1 p:nth-of-type(2){
	font-size: 12px;
	color: gray;
}

/*footer部分*/
.footer{
	width:100%;
	border: 1px solid ;
	box-sizing: border-box;
	background: #555555;
}
.footer_top{
	width:80%;
	border-bottom: 1px solid lightgray;
	padding: 40px 0;
	margin: auto;
	font-size:12px;
	color: gray;
	line-height: 2;
}
.footer_top p:nth-of-type(1){
	font-size:14px;
}
.footer_middle{
	width:80%;
	 
	line-height: 2;
	font-size: 12px;
	margin: 10px auto;
	color: white;
	display: flex;
	justify-content: space-around;
}
.footer_middle ul li:nth-of-type(1){
	font-size: 16px;
	margin-bottom: 20px;
}
.footer_middle ul li:nth-of-type(8){
	color: gray;
}

.footer_middle dt{
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}
.footer_middle img{
    margin-top: -24px;
}

.footer_bottom{
	width:100%;
	font-size: 10px;
	padding: 10px 0;
	text-align: center;
	background: #333333;
	color: gray;
}
.footer_bottom1{
	display: none;
}


/*响应式*/
@media only screen and (max-width: 708px) {
body{
	min-width: 600px;
}
/*header部分*/
.header,
.footer_top,
.footer_middle{
	display: none;
}
.header1{
		display: block;
		width: 100%;
		height:40px ;
		border: 1px solid;
		box-sizing: border-box;
		overflow: hidden;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: url(../img/201801060336491-1098.ico) 2% center no-repeat,
		url(../img/3333.jpg) right  center no-repeat;
		background-size: 4%;
	}
	
.header1 p{
	font-size: 12px;
}

/*section部分*/
.section1_2	{
	flex-wrap: wrap;
	text-align: center;
}
.section1_1_1{
	width: 100%;
}
	
.section2 h3{
	width: 28%;
	border: 1px solid;
	text-align: center;
    margin: 82px auto;
}

/*myself部分*/
.myself{
	margin-top: 0px;
}

.myself img{
	height: 200px;
}
.myself1{
	width: 50%;
	margin: -25% auto;
}
.myself1 h2{
	font-size: 20px;
}


/*more部分*/	
.more2 figure{
	width: 100%;
}
.more2 figcaption p:nth-of-type(2) {
	display: none;
}
	
.more2 figcaption p:nth-of-type(3){
	display: block;
    color: gray;
	font-size: 12px;
}	
	
/*choice部分*/
	
.choice img{
	width: 60%;
	margin: 150px;
}
.choice1{
	width: 30%;
	color: white;
	margin: -100% auto;
	text-align: center;
}

.choice1 h3{
	width: 100%;
	font-size: 16px;
}

.choice1 h4:nth-of-type(2):after{
	content: "————";
	display: block;
	font-size: 1px;
	text-align: center;
}
.choice1 h4{
	font-size: 14px;
	
}
.choice1 p{
	font-size: 12px;
}

/*选择响应式部分*/
.xiang1 p{
	font-size: 25px;
}
.xiang2_left .xiang2_left3 p{
	width: 54%;
}
.xiang2_left .xiang2_left4 p{
	width: 60%;
}
.xiang2_right .xiang2_right3 p{
	width: 50%;
}
.xiang2_right .xiang2_right4 p{
	width: 113%;
}

/*建站系统部分*/
.active2 figure{
	width: 100%;
	line-height: 2;
}

.active2 figcaption p:nth-of-type(2){
display: none;
}
.active2 figcaption p:nth-of-type(3){
	display: block;
	color: gray;
	font-size: 12px;
}


/*微加部分*/

.box2 figure{
	width: 50%;
}
.box2 figcaption p:nth-of-type(1){
	font-size: 12px;
	font-weight: 800;
	color: gray;
}

/*加盟流程部分*/
.jiaa img:nth-of-type(2){
   display: none;
}
.jiaa{
	width: 80%;
	flex-wrap: wrap;
}
.jiaa figure{
	width: 30%;
}
	
/*掘金部分*/
.once{
	display: none;
}	
	
/*新闻资讯部分*/	
	
.new2 ul li:nth-of-type(1){
	padding: 20px;
	background: #eeeeee;
}	
	
.new3{
	flex-wrap: wrap;	
}
.new_left{
	width: 100%;
	text-align: center;
}	
.new_left img{
	width: 80%;
}
.new_left p{
	text-align: left;
}	
	
.new_right{
	width: 100%;
}

/*footer部分*/
.footer_bottom img{
	display: none;
}

.footer_bottom1{
	display: block;
	width: 100%;
	/*border: 1px solid;*/
	margin-top: 40px;
}
.footer_bottom1 ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer_bottom1 ul li{
	font-size: 12px;
	border: 1px solid gray;
	padding: 10px 74px;
}
}

